<div class="wrapper">
    <div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <button class="btn btn-primary theme" id="theme-toggle" (click)="Dark_Mode()">
            <i id="toggle" class="bi-moon-fill"></i>
          </button>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <!-- <a class="nav-link" href="#input_Label">To Do Page</a> -->
                            <a class="nav-link" (click)="Go_To_Do()">To Do Page</a>
                        </li>
                        <li class="nav-item">
                            <!-- <a class="nav-link" href="#input_Label">To Do Page</a> -->
                            <a class="nav-link" (click)="Go_Weather()">Weather</a>
                        </li>

                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/slider">Slider</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <header>
        <img src="assets/layer3.svg" class="background" />
        <app-slider [images]="images" [autoSlide]="false"></app-slider>
        <img src="assets/new-layer-1.svg" class="foreground" />
        <!-- <img src="assets/layer0.svg" class="foreground-1" /> -->
    </header>

    <router-outlet></router-outlet>

    <app-to-do-page id="to-do-page"></app-to-do-page>
    <header>
        <app-weather-app id="weather-page"></app-weather-app>
    </header>
</div>